/Example/bin
/Example/obj
/UndetectedChromeDriver/obj
/UndetectedChromeDriver/bin
/UndetectedChromeDriver/.vs
/Example/Properties/PublishProfiles/*.user
/Example/Properties/PublishProfiles/*.pubxml
/Example/*.user
